* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    height: 100%;
    overflow: hidden;
    background: #365083;
}

#map {
    background: transparent;
    height: 100vh;
    position: absolute;
    inset: 0;
    z-index: 1;
}

.leaflet-image-layer {
    image-rendering: pixelated;
}

.leaflet-marker-pane,
.leaflet-overlay-pane > svg {
    filter: drop-shadow(2px 4px 4px black);
}

.leaflet-control-layers-toggle {
    background-image: url('../emoji/layers.webp') !important;
    background-size: contain;
}

#control {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: small;
}
#control > :first-child {
    display: flex;
    gap: 5px;
    align-items: center;
}

#replay {
    cursor: pointer;
}

#search_input,
#search_results {
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-sizing: border-box;
}
#search_results {
    background: white;
    max-height: 40vh;
    overflow-y: auto;
    display: none;
}
#search_results.visible {
    display: block;
}
.search_result_item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s;
    border-radius: 5px;
    display: flex;
    gap: 5px;
    align-items: center;
}
.search_result_item:last-child {
    border-bottom: none;
}
.search_result_item:hover {
    background-color: #f0f0f0;
}
.search_result_icon {
    max-height: 4vh;
}
.search_result_name {
    font-weight: 600;
    word-wrap: break-word;
}
.search_result_category {
    color: gray;
    margin-top: 5px;
    font-size: smaller;
}
.search_no_results {
    padding: 10px;
    text-align: center;
    color: gray;
    font-style: italic;
}
